<!doctype html>
<html lang="en">
{% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="www.arudzinska.com">
    <meta property="og:description" content="Personal website">
    <meta property="og:image" content="{% static 'img/thumbnail.jpg'%}">
    <link rel="icon" href="{% static 'img/favicon.ico'%}">

    <title>Anna Rudzińska</title>

    <!-- Bootstrap core CSS -->
    <!-- link href="static/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- link href="static/css/style.css" rel="stylesheet"-->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href={% url 'index' %}>Home</a>
            <a class="nav-link" href={% url 'about' %}>About me</a>
            <a class="nav-link" href={% url 'publications' %}>Publications</a>
            <a class="nav-link" href={% url 'links' %}>Links</a>
            <a class="nav-link" href={% url 'contact' %}>Contact</a>
          </nav>
        </div>
      </header>

      {% block content %}
      <!-- main role="main" class="inner cover">
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main -->
      {% endblock %}

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p> A.R. </p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'js/vendor/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
  </body>
</html>