{% extends 'base.html' %}

{% block content %}
<main role="main" class="inner cover">
        <br>
        <h1 class="cover-heading">Publications</h1>
        <br>
        <p>
                My engineering thesis entitled <i>"Design of covalent inhibitors of bacterial
                ureases"</i> (in a field of computational chemistry) contributed to a publication
                in <i>Bioorganic & Medicinal Chemistry Letters</i>.
        </p>
        <p>
                Speaking with a more <i>human</i> language: the work was focused on
                simulating interactions of potential drugs for stomach ulcers treatment.
        </p>
        <center>
        <br>
        <p>
                <div style="border: solid 1px #ccc; padding: 2px; width: 80%;"><iframe class="pubchem-widget" src="https://www.ncbi.nlm.nih.gov/pubmed/28236590#result_sel&embed=true" style="border: 0;  width: 100%; height: 250px;"></iframe></div>
        </p>
        <b><a href="https://www.ncbi.nlm.nih.gov/pubmed/28236590" target="_blank">Link to the article</a></b>
        </center>

        <p class="lead">
        </p><br>
</main>
{% endblock %}